<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Thankerino!, <%= @user.name %></h1>
    <p>
      Your account was successfully created at http://thankerino.heroku.com,<br/>
      your username is: <%= @user.name %>, password is: <%= @password %>
    </p>
    <p>
      To login to the site, just follow this link: http://thankerino.heroku.com/.
    </p>
    <p>Thanks, have a great day!</p>
  </body>
</html>
