<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>New Thanks at Thankerino!</h3>
    <p>
      Somebody just send you thanks at Thankerino,<br />
      so chop chop and hurry up to find out who just thanked you and why.
    </p>
    <p>
      Cheers, Thankerino.<br />
      http://thankerino.com/.
    </p>
  </body>
</html>
