<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Thanks at Thankerino!</h1>
    <p>
      Somebody just send you thanks at Thankerino,
      so chop chop and hurry up to find out who just thanked you.
    </p>
    <p>
      Cheers, Thankerino.<br />
      http://thankerino.heroku.com/.
    </p>
    <p>Thanks, have a great day!</p>
  </body>
</html>
