<div id="community">
  <div class="inner">
    <h2><%= image_tag('scoreboard.jpg', :alt => 'Scoreboard') %></h2>
    <ul>
    <% @scoreboards.each do |score| %>
    <li class="score">
      <h3><%= score.name %></h3>
      <%= image_tag(score.user.avatar(:profile), :alt => 'thumb', :class => 'profile-image') %>
      <p><%= link_to score.user.name, user_path(score.user) %></p>
    <% end %>
  </div>
</div>