<div id="admin">
  <div class="inner company">
    <%= render 'administration/menu' %>
    <h2>New company</h2>

    <%= render 'form' %>

    <p><%= link_to 'Back', companies_path %></p>
  </div>
</div>
