<%= render 'new' %>
<div id="thanks_list">
  <h2>RECENT APPRECIATION:</h2>
  <ul>

  <% @thanks.each do |thank| %>
   <li>Thanks to <span><%=h target_user(thank) %></span><%=h thank.message %></li>
  <% end %>
  </ul>
</div>