<%= render 'new' %>
<div id="thanks_list">
  <h2>RECENT APPRECIATION:</h2>

  <table>
  <% @thanks.each do |thank| %>
    <tr>
      <td>Thanks to <span><%=h target_user(thank) %></span><%=h thank.message %></td>
    </tr>
  <% end %>
  </table>
</div>